*{
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}


/*------------------- HEADER -------------------*/

.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
}

.navbar {
    position: relative;
    min-height: 80px;
    margin-bottom: 0;
    padding: 5px 0  0 10px;   
}

.navbar-toggle{
    float: left;
    margin-left: 15px;
    border: none;
	margin-top: 16px;
}

.navbar-brand {
    padding: 10px 15px;
    font-size: 18px;
}

.navbar-header{
	width: 100px;
	height: 25px;
}

.logo-2{
	position: relative;
    left: 130px;
    bottom: 35px;
}

.logo-2 img{
	width: 100px;
	height: 25px;
}



/*------------------- SECTION CONDUCTOR -------------------*/

.conductor{
	background-image: url(../img/taxi.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
    background-position-y: -1150px;		
	padding: 100px 0;
	bottom: 30px;
}
.cuadro-a{
	background-color: #f7b617;
	height: 350px;
	color: white;
	padding: 20px 20px 50px 20px;
}

.cuadro-a h1{
	font-size: 35px;
	line-height: 40px;
	padding-bottom: 30px;
}

.cuadro-a p{
	font-size: 20px;
	line-height: 40px;
	padding-bottom: 20px;
	font-weight: 200;
}

.cuadro-a p img{
	width: 90px;
}

.cuadro-a h4{
	font-size: 15px;	
}

.entrada-input{
	display: inline-flex;
	padding-top: 15px;
}
.entrada-input p{
	font-size: 16px;
}

.input-style{
	width: 150px;
	margin: 0 20px;
	height: 30px;
	color: white;
	background-color: transparent;
	border: 0;
	outline: 0;
	border-bottom: 2px solid white;
	border-radius: 0;
}

.form-contro{
	border: 1px solid #f7b617;
}

.btn-conducir{
	background-color: white;
	color: #2b2b2b;
}

.btn-conducir:hover{
	background-color: #EBEBEB;
	color: #f7b617;
}


/*--- RESPONSIVE ---*/

.conductor-taxi{
	margin-right: 0;
}

.cuadro-b{
    margin-top: 80px;
	background-color: #f7b617;
    height: 300px;
	color: white;
	padding: 70px 40px 50px 40px;	
}


/*------------------- SECTION APP -------------------*/

.app{
	background-color: #f7b617;
	padding: 30px 200px 30px 0;
}

.el-app{
	border: 1px solid white;
	border-left: 0;
}

.app-caja{
	padding: 30px;
}


.app-caja img{
	width: 100%;
}

