*{
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}


/*------------------- HEADER -------------------*/

.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
}

.navbar {
    position: relative;
    min-height: 80px;
    margin-bottom: 0;
    padding: 5px 0  0 10px;   
}

.navbar-toggle{
    float: left;
    margin-left: 15px;
    border: none;
	margin-top: 16px;
}

.navbar-brand {
    padding: 10px 15px;
    font-size: 18px;
}

.navbar-header{
	width: 100px;
	height: 25px;
}

.logo-2{
	position: relative;
    left: 130px;
    bottom: 35px;
}

.logo-2 img{
	width: 100px;
	height: 25px;
}



/*------------------- HEADER -------------------*/

.conductor{
	background-image: url(../img/taxi.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;	
	padding: 100px 0;
	text-align: button;
}

.cuadro-a{
	background-color: #f7b617;
	height: 350px;
	color: white;
	padding: 20px 20px 50px 20px;
}

.cuadro-a h1{
	font-size: 35px;
	line-height: 40px;
	padding-bottom: 20px;
}
